.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 400px;
    height: 62rem;
  }
}